body {
    margin: 0;
}

div#header {
    position: fixed;
    width: 100%;
    margin: 0;
    background-color: #f3f3f3;
    height: 48px;
    top: 0;
    z-index: 99;
}

div#menu {
    position: fixed;
    top: 48px;
    width: 100%;
    z-index: 98;
}

div#grid {
    margin-top: 88px;
}