body {
    font-family: "Open Sans", Arial, sans serif;
    margin: 0;
    background: #f3f3f3;
}

div#login-window {
    background: #373737;
    border-radius: 5px;
    width: 284px;
    padding: 40px;
    margin: 200px auto 0 auto;
}

div#centering {
    margin: 0 auto;
    width: 100%;
}

div#login-title {
    display: inline;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

div#login-window input[type="text"] {
    background-image: none;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 13px;
    margin-top: 30px;
    width: 255px;
}

div#login-window input[type="text"]:hover {
    background-image: none;
    background-color: #fff;
    border: 1px solid #00baff;
    border-radius: 5px;
    font-size: 18px;
    padding: 13px;
    margin-top: 30px;
    width: 255px;
}

div#login-window input[type="password"] {
    background-image: none;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 13px;
    margin: 18px 0 20px 0;
    width: 255px;
}

div#login-window input[type="password"]:hover {
    background-image: none;
    background-color: #fff;
    border: 1px solid #00baff;
    border-radius: 5px;
    font-size: 18px;
    padding: 13px;
    margin: 18px 0 20px 0;
    width: 255px;
}

div#login-window input[type="submit"] {
    color: #fff;
    background-image: none;
    background-color: #2bb147;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 13px;
    margin-top: 20px;
    width: 283px;
}

div#login-window input[type="submit"]:hover {
    cursor: pointer;
    color: #fff;
    background-image: none;
    background-color: #37ca55;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 13px;
    width: 283px;
}

.remember-me {
    float: left;
    color: #fff;
    font-size: 12px;
}

.forgot-password {
    float: right;
    color: #9d9d9d;
    font-size: 12px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-decoration: none;
}


